.container {
  border-radius: 10px;
  grid-row: 2 / span 3;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E6E6;
    padding: 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%; /* Faz com que o header ocupe toda a largura do container */
}

.header h2 {    
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.th, .td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.th {
    text-align: left;
    font-weight: bold;
}

.td {
    text-align: left;
    vertical-align: middle;
}

.tr:hover {
    background-color: #f5f5f5;
}

.circularButton {
    width: 50px;
    height: 50px;
    background-color: #808080;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.actionButton {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    color: #333;
}

.actionButton:hover {
    color: #007BFF;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garantir que o modal fique sobre outros elementos */
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative; /* Adicionado para posicionar corretamente o conteúdo do modal */
}

.modalContent h3 {
    margin-top: 0;
    text-align: center;
}

.modalContent input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.saveButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #45a049;
}
