#curve_chart {
  width: 100%;
  height: 100%;
}

.retanguloGrafico {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.headerGrafico {
  background-color: #E6E6E6;
  padding: 1.5rem .5rem;
}

.headerGrafico .tag{
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
}

.contentGrafico{
  border-radius: 10px;
  grid-row: 2 / span 3;
  grid-column: 1 / -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.containerGrafico {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  padding: 1rem;
  width: 100%;
  gap: 1.5rem;
}