#curve_chart {
  width: 100%;
  height: 100%; /* Garante que o gráfico ocupe toda a altura disponível */
  margin: 0; /* Remove qualquer margem */
}

.retanguloGrafico {
  position: absolute;
  top: 140px; /* Considera a barra superior */
  left: 265px; /* Considera a barra lateral */
  width: calc(100% - 280px); /* Considera a largura da barra lateral e a margem */
  height: 450px; /* Define uma altura fixa menor */
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Centraliza o gráfico horizontalmente */
  align-items: center; /* Centraliza o gráfico verticalmente */
  padding: 0px;
  top: 125px;  /* Margem superior */
}

.graficoContainer {
  width: calc(100% - 280px); /* Largura dinâmica respeitando a barra lateral */
  margin: 0;
  padding: 0;
  width: 100%; /* Considera a largura da barra lateral e a margem */
  height: 100%; /* Preenche o contêiner pai */
  display: flex;
  justify-content: center; /* Centraliza o gráfico horizontalmente */
  align-items: center; /* Centraliza o gráfico verticalmente */
  border-radius: 10px;
  overflow: hidden; /* Garante que o gráfico fique dentro da borda */
}

