#curve_chart {
  width: 100%;
  height: 100%;
}

.retanguloGrafico {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.headerGrafico {
  background-color: #E6E6E6;
  padding: 1.5rem .5rem;
  position: relative; /* Para que o botão absoluto se posicione corretamente */
  overflow: visible; /* Certifique-se de que o conteúdo transborde visivelmente */
  /* display: flex; /* Use flexbox para posicionar os elementos lado a lado */
  /* justify-content: space-between; Garante que os elementos se afastem horizontalmente */
  /* align-items: center; Centraliza os elementos verticalmente */ 
}

.headerGrafico .tag{
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
}
 
.contentGrafico{
  border-radius: 10px;
  grid-row: 2 / span 3;
  grid-column: 1 / -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Estilização para o botão de exportar dados */
.botaoExportar {
  position: absolute;
  right: 15px; /* Posiciona o botão no lado direito */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para que o centro do botão esteja alinhado verticalmente */
  padding: 8px 10px;
  background-color: #4285F4;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10; /* Certifique-se de que o botão esteja acima de outros elementos */
}

/* Estilização para a tela de exportação */
.telaSobreposta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.conteudoDaSobreposicao{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 20%; /* Largura ajustada */
  margin: 0 auto; /* Centraliza o modal horizontalmente */
  transition: all 0.3s ease-in-out;
}

.conteudoDaSobreposicao h2{
  font-weight: bold;
  margin-bottom: 20px; /* Adiciona um espaço de 20px abaixo do título */
}

.formularioData {
  margin-bottom: 15px;
}

.formularioData label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formularioData input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.botaoFecharExportar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botaoFecharExportar button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.botaoFecharExportar button[type="exportar"] {
  background-color: #4CAF50;
  color: white;
}

.botaoFecharExportar button[type="fechar"] {
  background-color: #f44336;
  color: white;
}

/* ------------------------------------------------------------------ */
/* Estilos para o seletor "Exportar visualização atual" */
.containerCheckBox {
  display: flex;
  align-items: center;
  margin-top: 25px; 
}

.checkBoxLabel{
  margin-left: 200px;
  position: relative;
  left: -190px;
  color: black;
 
}



/* --------------------------------------------------------------- */
/* Estilização para o seletor de período */
.selecionarPeriodo {
  position: absolute;
  right: 150px; /*Posiciona o botão no lado direito */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para que o centro do botão esteja alinhado verticalmente */
  padding: 7px 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10; /* Certifique-se de que o botão esteja acima de outros elementos */
}


/* ----------------------------------------------------------------- */
/* Estilos para o campo desabilitado */
.desabilitarCampo {
  background-color: #f0f0f0; /* Cor de fundo cinza clara para indicar desativação */
  color: #a0a0a0; /* Texto em cor cinza claro */
  cursor: not-allowed; /* Cursor de "não permitido" para indicar desabilitação */
  opacity: 0.6; /* Reduz a opacidade para um efeito visual de desativação */
}

