.containerTabela {
    border-radius: 10px;
    grid-row: 2 / span 5;
    grid-column: 1 / -1;
    /* box-sizing: border-box; Inclui padding e bordas na altura total */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100vh; O container ocupará 100% da altura da viewport */
    background-color: #f9f9f9; /* Ajuste a cor de fundo conforme necessário */
    position: relative; /* Para posicionar o botão absoluto dentro deste container */
  }
  
  /* Cabeçalho da tabela */
  .cabecalhoTabela {
    background-color: #E6E6E6;
    padding: 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    /* align-items: center;  */
    position: relative; /* Necessário para o posicionamento absoluto do botão */
  }
  
  
  .titulo {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  /* Estilização da tabela */
  .tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  /* Estilização das colunas da tabela */
  .coluna {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilização das linhas da tabela */
  .linha:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .linha:nth-child(odd) {
    background-color: #eeeeee;
  }
  
  /* Estilização das células da tabela */
  .celula {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
  }
  
  /* --------------------------------------------------------------- */
/* Estilização do botão para abrir o modal */
.botaoAdicionarLocal {
  position: absolute;
  right: 15px; /* Ajuste para alinhar à direita */
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 10px;
  background-color: #4285F4; /* Cor azul */
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 5px; Espaço entre o ícone e o texto */
}


/* Estilização do modal para adicionar localização */
.sobreposicaoModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.conteudoModal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
}

/* Estilização dos campos de entrada no modal */
.camposLocalizacao {
  margin-bottom: 15px;
}

.camposLocalizacao label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.camposLocalizacao input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


/* Estilização do título do modal */
.tituloModal {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

/* Estilização dos botões no modal */
.acoesModal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.acoesModal .botaoCancelar {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.acoesModal .botaoAdicionar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


/*Estilo para a descrição */
.descricaoModal {
  font-size: 14px;
  color: #666;
  margin-top: -10px; /* Ajuste para aproximar da linha do título */
  margin-bottom: 20px; /* Espaçamento abaixo da descrição */
  line-height: 1.2; /* Espaçamento entre as linhas */
}

.iconeEditar {
  cursor: pointer;
  font-size: 20px; /* Aumenta o tamanho do ícone */
  margin-left: 10;
}