.sidebar {
  width: 250px; /* Define a largura da barra lateral */
  height: 100vh; /* Define a altura para ocupar toda a altura da tela */
  background-color: black; /* Define a cor de fundo da barra lateral */
  padding: 20px 60px; /* Adiciona espaçamento interno ao redor do conteúdo */
  display: flex; /* Ativa o layout flexbox para organizar os elementos */
  flex-direction: column; /* Organiza os elementos em uma coluna vertical */
  justify-content: space-between; /* Distribui os elementos de forma que fiquem espaçados entre si */
  align-items: center;
  overflow: hidden; 
  position: fixed;
  left: 0;
  background-image: url('/gradiente.png'); /* Imagem de fundo do gradiente */
  background-size: cover;
  background-position: -330px 180px;
  background-repeat: no-repeat;
}

.logout {
  display: flex; /* Usa flexbox para alinhar a imagem e o texto do logo */
  align-items: center; /* Centraliza verticalmente a imagem e o texto */
  margin-bottom: 5px;
  gap: .4rem; /* Adiciona margem inferior para espaçar o logo dos próximos elementos */
}

.logo {
  display: flex; /* Usa flexbox para alinhar a imagem e o texto do logo */
  align-items: center; /* Centraliza verticalmente a imagem e o texto */
  margin-bottom: 50px; /* Adiciona margem inferior para espaçar o logo dos próximos elementos */
}

.logo img {
  width: 50px; /* Define a largura da imagem do logo */
  margin-right: 7px; /* Adiciona espaço à direita da imagem para afastá-la do texto */
}

.logo span {
  font-size: 24px; /* Define o tamanho da fonte do texto do logo */
  color: #FFF;    /* Define a cor do texto do logo como branco */  
}

.textoBold {
  font-weight: bold;
}

nav {
  margin-top: -100px; /* Mover o bloco de navegação para cima */
}

nav ul {
  list-style-type: none; /* Remove os marcadores padrão da lista */
  padding: 0; /* Remove o padding padrão da lista para alinhar o conteúdo à esquerda */
  text-align: center;
  margin: 0;
  z-index: 1; /* Garante que os itens de navegação fiquem sobre o gradiente */
}

nav ul li {
  position: relative; /* Necessário para posicionar a pseudo-elemento */
  margin: 20px 0; /* Espaço acima e abaixo de cada item */
  padding: 13px 0; /* Padding superior e inferior ajustado */
  text-align: center;
}

nav ul li:not(:last-child)::after {
  content: '';  /* Necessário para exibir o pseudo-elemento */
  position: absolute;
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste fino da posição horizontal */
  height: 1px; /* Altura da linha */
  bottom: -10px; /* Posiciona a linha na parte inferior do item */
  width: 90%; /* Aumenta a largura para ser mais visível */
  border-bottom: 1px solid #FFF; /* Define a borda como uma linha */
}

nav ul li:last-child::after {
  display: none; /* Remove a linha do último item */
}

nav ul li a {
  text-decoration: none;  /* Remove o sublinhado padrão dos links */
  color: #FFF; /* Define a cor do texto dos links como branco */
  font-size: 18px; /* Define o tamanho da fonte dos links */
  transition: color 0.3s; /* Adiciona uma transição suave para mudanças na cor */
}

nav ul li a:hover {
  color: #A4A4D1; /* Muda a cor do link ao passar o mouse sobre ele */
}

.logout {
  padding: 10px; /* Adiciona um pouco de espaço interno */
  cursor: pointer;    /* Muda o cursor para indicar que é clicável */
  transition: all 0.3s; /* Suaviza a transição de cores e outros efeitos */
}

.logout svg {
  width: 18px; /* Define a largura do ícone */
  height: 18px; /* Define a altura do ícone */
  color: white; /* Define a cor do ícone */
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.logout a {
  font-size: 18px;
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
}

.logoutLink, logoutLink svr {
  color: white; /* Cor inicial do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  transition: color 0.3s; /* Suaviza a transição de cores */
  display: flex;      /* Ativa o layout flexível */
  align-items: center; /* Centraliza verticalmente os itens dentro do contêiner */
  justify-content: center; /* Centraliza horizontalmente os itens */
}

.logoutLink:hover, .logoutLink:hover svg {
  color: red; /* Muda a cor do texto e do ícone para vermelho ao passar o mouse */
}

.activeMenuItem {
  background-color: #575757; /* Cor de fundo para o item ativo */
  color: white; /* Cor do texto */
  border-radius: 25px; /* Bordas arredondadas */
  width: 180px;
}