.paginaSuporte {
    border-radius: 10px;
    grid-row: 2 / span 5;
    grid-column: 1 / -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    position: relative;
    height: calc(100vh - 20px); /* Define a altura para caber na tela */
    padding: 0; /* Remove qualquer padding extra */
}
.paginaSuporte .containerSuporte {
    padding: 15px 15px;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-grow: 1; /* Faz com que o container ocupe o espaço disponível */
    overflow: hidden; /* Remove a rolagem interna */
}



/* 
.paginaSuporte h1, .paginaSuporte h2, .paginaSuporte h3 {
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 1.2;
}

.paginaSuporte p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    text-align: justify;
}

.paginaSuporte label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.paginaSuporte input[type="text"], 
.paginaSuporte input[type="email"], 
.paginaSuporte textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.paginaSuporte button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.paginaSuporte button:hover {
    background-color: #0056b3;
} */
