  .bodyGrafico{
    background-color: #C0C0C0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 250px ;
  }

  .paiRetangulo {
    grid-row: 5/ span 2;
    grid-column: 1 / span 3;
    box-sizing: border-box; /* Inclui padding e bordas na altura total */
  }
  
  
  