  
  body {
    background-color: #C0C0C0; /* Cor cinza claro como no Figma */
    display: flex;
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos na altura total */
  }
    
  