.header {
    width: 100%;
    padding: 1rem 32rem;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px; /* Ajuste este valor para aumentar ou diminuir o espaço entre os itens */
    padding: 10px;
  }
  
  .link {
    color: black;
    margin: 0 27px;
    text-decoration: none;
  }
  
  .link:hover {
    color: purple;
  }
  
  .loginButton {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 0.5rem 3rem;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 2rem;
  }
  
  .imagemFundo {
    background-image: url(./cell.png), url(./gradiente.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: right 20% bottom 0%, center;
    height: 750px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textoSobreImagem {
    position: absolute;
    left: 10%;
    color: white;
    text-align: left;
    max-width: 500px;
  }
  
  .textoSobreImagem h2 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    margin-left: 80px;
  }
  
  .textoSobreImagem p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    margin-left: 80px;
  }
  
  .ctaButton {
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: linear-gradient(90deg, #0886b2 0%, #8bf7fe 100%);
    font-weight: 500;
    margin-left: 80px;
    width: 204px;
    height: 42px;
    flex-shrink: 0;
  }
  
  .ctaButton:hover {
    background-color: #008bb5;
  }
  
  .degrade {
    background: linear-gradient(264deg, #0886b2 8.34%, #8bf7fe 67.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .negrito {
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    font-weight: 600;
    line-height: 1.2;
  }
  