  body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    height: 100vh; /* Define a altura da tela */
    overflow: hidden; /* Remove barras de rolagem */
    position: relative;
  }

  .fundo {
    background-image: url(./Fundo.png); /* Substitua pelo caminho correto */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100vw; /* Define a largura como 100% da viewport */
    height: 100vh; /* Define a altura como 100% da viewport */
    position: absolute; /* Permite posicionamento absoluto */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona à esquerda */
  }

  .retanguloContainer {
    background-image: url(./retangulo2.png);
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
  }

